custom_components/lifesmart/__pycache__/*

*/.idea
.idea/*

*.iws
*.iml

/out/

.idea_modules/
config/.HA_VERSION
config/automations.yaml
config/configuration.yaml
config/home-assistant_v2.db
config/home-assistant_v2.db-shm
config/home-assistant_v2.db-wal
config/home-assistant.log
config/home-assistant.log.1
config/home-assistant.log.fault
config/scenes.yaml
config/scripts.yaml
config/secrets.yaml
config/.storage/assist_pipeline.pipelines
config/.storage/auth
config/.storage/auth_provider.homeassistant
config/.storage/bluetooth.passive_update_processor
config/.storage/core.analytics
config/.storage/core.area_registry
config/.storage/core.config
config/.storage/core.config_entries
config/.storage/core.device_registry
config/.storage/core.entity_registry
config/.storage/core.restore_state
config/.storage/core.uuid
config/.storage/homeassistant.exposed_entities
config/.storage/http
config/.storage/http.auth
config/.storage/onboarding
config/.storage/person
config/.storage/repairs.issue_registry
config/.storage/trace.saved_traces
config/blueprints/automation/homeassistant/motion_light.yaml
config/blueprints/automation/homeassistant/notify_leaving_zone.yaml
config/blueprints/script/homeassistant/confirmable_notification.yaml
